.allure/
.gradle/
.idea/
build/
gradle/

.settings/
.git/
.project
.classpath


.vscode/
bin/
out/
libs/

target/
allure-results/
Logs/

browser/
scenarios/
Gmail*.*
Guerrillamail*.*
*.iml
.markdownlint.json
utils/
enums/

