.settings/
.git/
.project
.classpath
.idea/
.gradle/
.allure/
.vscode/
bin/
out/
libs/
build/
target/
allure-results/
Logs/
gradle/
browser/
scenarios/
Gmail*.*
Guerrillamail*.*
*.iml
.markdownlint.json
utils/
enums/

